---
layout: default
version:
tag:
---
# Release version {{ page.version }}

* [Download](https://github.com/pikatoste/test.sh/releases/tag/{{ page.tag }})
* [Documentation](doc/)
* [Test output](buildinfo/testmain.html)
* [Coverage report](buildinfo/coverage/)
